<h2>Add New Comment</h2>

<% form_with(model: @comment, url: user_post_comments_path) do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>

  <%= f.submit 'Add New Comment' %>
<% end %>
