<div class="users-bloc">
  <% for i in 0..9 do %>
    <div class="user-bloc">
      <div class="user-image"></div>
      <div class="user-data">
        <h4 class="title">User name</h4>
        <span class="user-posts">Number of posts: x</span>
      </div>
    </div>
  <% end %>
</div> 
