@import './variable';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: $whit-color;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: $dark-color;
}

a:hover {
  text-decoration: underline;
}

h4 {
  font-size: 1.5rem;
}

.clickable {
  cursor: pointer;
}
